
<div class="block-flat">
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info alert-white rounded">
			<div class="icon"><i class="fa fa-info-circle"></i></div>
			<h4>Vision</h4>
		</div>
		<div class="well">
		Organisado nga komunidad sang mga nagapati sa kaugalingon nga ikasarang paagi sa mga eksperiensya nga may pag laum sa tunga sang padayon kag halos wala sang kasulbaran mga kapigaduhon.
		</br>
		Sa pag-eksprensya sang kabuhi sa tunga sa pagsakripisyo sa adlaw-adlaw nga may kahadlok sa kagutom kag kamatayon 
		<br>
		Selebrasyon sang katawhan sa tunga sang kapigaduhon
		</div>
		
		<div class="alert alert-info alert-white rounded">
			<div class="icon"><i class="fa fa-info-circle"></i></div>
			<h4>Mission</h4>
		</div>
		<div class="well">
		Komunidad sang mga pigado nga organisado kag may kapasidad nga makaangkon sang pinansyal kag sosyal nga puhunan para mangin mapinadayunan ang ila nga pangabuhi kag makapundar sang mga imprastraktura para sa ila nga pang gobyernohan nga may aktibo nga partispasyon ang mga pumuluyo sa ila nga komunidad.
		</div>
	</div>
	
</div>
</div>
