
<div class="alert alert-info padding-5 margin-bottom-5"><i class="fa fa-info"></i> Legend</div>
<table class="table table-bordered table-condensed">
	<tbody>
		<tr>
			<td>KAB / KABAKOD -> Principal Loan Amount or Genereal Amount</td>
		</tr>
		<tr>
			<td>CBU / CAPITAL BUILD UP -> Savings</td>
		</tr>
		<tr>
			<td>MBA / Mutual Benefit Association - > Insurance</td>
		</tr>
		<tr>
			<td>CF / Center Fund</td>
		</tr>
		<tr>
			<td>MF / Membership Fee</td>
		</tr>
		<tr>
			<td>LRF / Loan Redemtion fund</td>
		</tr>
	</tbody>
</table>