
        <div class="modal-body">
			<form ng-submit="Save()">
				<div class="form-group">
					<label for="email">Status:</label>
<!-- 					{{formData.TransactionStatus}} -->
					<select type="text" class="form-control" ng-model="formData.TransactionStatus">
						<option ng-if="formData.TransactionStatus=='Pending'">Pending</option>
						<option ng-if="formData.TransactionStatus!='Release'">Approved</option>
						<option ng-if="(formData.TransactionStatus=='Approved' || formData.TransactionStatus=='Release')">Release</option>

					</select>
				</div>
				<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
			</form>
        </div>
        <div class="modal-footer text-center">
            <button class="btn btn-default" type="button" ng-click="close()"><i class="fa fa-times"></i> Cancel</button>
        </div>