
        <div class="modal-body">
		<div id="printDiv">
			

				<div class="text-center visible-print-block reportHeader">
					<img src="core/images/logo.png" class="logo">
					<h1>Pag – Inupdanay, Inc. </h1>
					<h3>Employee subd., silay city </h3>
					<h2>Statement of Account</h2>
				</div>
				<div class="visible-print-block">
					<label>Name : {{formData.Firstname}} {{formData.Middlename}} {{formData.Lastname}}</label><br>
					<label>Center : {{formData.Center}}</label><br>
					<label>Cycle : {{Cycle}}</label><br>
					<label>Amount Borrow: {{Transaction.Amount | currency:""}}</label><br>
					
					
				</div>	
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Payment Date</th>
						<th>KAB</th>
						<th>CBU</th>
						<th>MBA</th>
						<th>CF</th>
						<th>MF</th>
						<th>LRF</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in list">
						<td>{{row.Date | date:'MM/dd//yyyy'}}</td>
						<td class="text-right">{{row.KAB}}</td>
						<td class="text-right">{{row.CBU}}</td>
						<td class="text-right">{{row.MBA}}</td>
						<td class="text-right">{{row.CF}}</td>
						<td class="text-right">{{row.MF}}</td>
						<td class="text-right">{{row.LRF}}</td>
						<td class="text-right">{{row.Total}}</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class="text-right">{{TotalTotal | currency:''}}</td>
					</tr>
				</tbody>
			</table>
        </div>
        </div>
        <div class="modal-footer text-center">
			<button class="btn btn-warning" type="button" ng-click="printDiv('printDiv')"><i class="fa fa-print"></i> Print</button>	
            <button class="btn btn-default" type="button" ng-click="close()"><i class="fa fa-times"></i> Close</button>
        </div>